{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Tiny Slider One Wrapper -->
    <div class="tiny-slider-one-wrapper">
      <div class="tiny-slider-one">
        <!-- Single Hero Slide -->
        <div>
          <div class="single-hero-slide bg-overlay" style="background-image: url('{% static 'img/bg-img/new/1.png' %}')">
            <div class="h-100 d-flex align-items-center text-center">
              <div class="container">
                <h3 class="text-white mb-1">Scan with Confidence, Buy with Trust.</h3>
                <p class="text-white mb-4">Pure Proof: Authenticity at Your Fingertips.</p>
                <a class="btn btn-creative btn-warning" href="/myproject/check-product/">Start</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Hero Slide -->
        <div>
          <div class="single-hero-slide bg-overlay" style="background-image: url('{% static 'img/bg-img/new/2.png' %}')">
            <div class="h-100 d-flex align-items-center text-center">
              <div class="container">
                <h3 class="text-white mb-1">Keep It Real: Verify with Pure Proof.</h3>
                <p class="text-white mb-4">From Doubt to Trust, One Scan at a Time.</p>
                <a class="btn btn-creative btn-warning" href="/myproject/check-product/">Start</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Hero Slide -->
        <div>
          <div class="single-hero-slide bg-overlay" style="background-image: url('{% static 'img/bg-img/new/3.png' %}')">
            <div class="h-100 d-flex align-items-center text-center">
              <div class="container">
                <h3 class="text-white mb-1">Pure Proof: The Guardian of Authenticity</h3>
                <p class="text-white mb-4">Counterfeit? Not on Our Watch - Pure Proof.</p>
                <a class="btn btn-creative btn-warning" href="/myproject/check-product/">Start</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Hero Slide -->
        <div>
          <div class="single-hero-slide bg-overlay" style="background-image: url('{% static 'img/bg-img/new/4.png' %}')">
            <div class="h-100 d-flex align-items-center text-center">
              <div class="container">
                <h3 class="text-white mb-1">Lots of Elements &amp; Pages</h3>
                <p class="text-white mb-4">Create your website in days, not months.</p>
                <a class="btn btn-creative btn-warning" href="/myproject/check-product/">Start</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Hero Slide -->
        <div>
          <div class="single-hero-slide bg-overlay" style="background-image: url('{% static 'img/bg-img/new/5.png' %}')">
            <div class="h-100 d-flex align-items-center text-center">
              <div class="container">
                <h3 class="text-white mb-1">The Seal of Authenticity, A Scan Away</h3>
                <p class="text-white mb-4">Trust in Every Scan, Clarity in Every Purchase.</p>
                <a class="btn btn-creative btn-warning" href="/myproject/check-product/">Start</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-3"></div>

    <div class="container direction-rtl">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-4">
              <div class="feature-card mx-auto text-center">
                <div class="card mx-auto bg-gray">
                  <img src="{% static 'img/demo-img/1.png' %}" alt="">
                </div>
                <p class="mb-0">Scan</p>
              </div>
            </div>

            <div class="col-4">
              <div class="feature-card mx-auto text-center">
                <div class="card mx-auto bg-gray">
                  <img src="{% static 'img/demo-img/2.png' %}" alt="">
                </div>
                <p class="mb-0">AI chat</p>
              </div>
            </div>

            <div class="col-4">
              <div class="feature-card mx-auto text-center">
                <div class="card mx-auto bg-gray">
                  <img src="{% static 'img/demo-img/3.png' %}" alt="">
                </div>
                <p class="mb-0">Forum</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card card-bg-img bg-img bg-overlay mb-3" style="background-image: url('{% static 'img/bg-img/new/6.png' %}')">
        <div class="card-body direction-rtl p-4">
          <h2 class="text-white">Pure Proof: Your Ally Against Counterfeits.</h2>
          <p class="mb-4 text-white">Scan with Confidence, Buy with Trust. Keep It Real: Verify with Pure Proof..</p>
          <a class="btn btn-warning" href="elements.html">Start</a>
        </div>
      </div>
    </div>

    <div class="container direction-rtl">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-4">
              <div class="feature-card mx-auto text-center">
                <div class="card mx-auto bg-gray">
                  <img src="{% static 'img/demo-img/star.png' %}" alt="">
                </div>
                <p class="mb-0">Best Rated</p>
              </div>
            </div>

            <div class="col-4">
              <div class="feature-card mx-auto text-center">
                <div class="card mx-auto bg-gray">
                  <img src="{% static 'img/demo-img/elegant.png' %}" alt="">
                </div>
                <p class="mb-0">Elegant</p>
              </div>
            </div>

            <div class="col-4">
              <div class="feature-card mx-auto text-center">
                <div class="card mx-auto bg-gray">
                  <img src="{% static 'img/demo-img/lightning.png' %}" alt="">
                </div>
                <p class="mb-0">Trendsetter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-3"></div>
{% endblock %}