{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Header Area -->
  <div class="header-area" id="headerArea">
    <div class="container">
      <!-- Header Content -->
      <div class="header-content position-relative d-flex align-items-center justify-content-between">
        <!-- Back Button -->
        <div class="back-button">
          <a href="{% url 'myproject:index' %}">
            <i class="bi bi-arrow-left-short"></i>
          </a>
        </div>

        <!-- Page Title -->
        <div class="page-heading">
          <h6 class="mb-0">Blog List</h6>
        </div>

        <!-- Settings -->
        <div class="setting-wrapper">
          <div class="setting-trigger-btn" id="settingTriggerBtn">
            <i class="bi bi-gear"></i>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper py-3">
    <div class="container">
      <div class="card">
        <div class="card-body direction-rtl">

          <!-- Search Form Wrapper -->
          <div class="search-form-wrapper">
            <p class="mb-2 fz-12">{{products.count}} products here</p>
            <!-- Search Form -->
            <form class="mb-3 pb-4 border-bottom" method="get">
              <div class="input-group">
                <input class="form-control form-control-clicked" type="search" name="q" value="{{ query }}">
                <button class="btn btn-dark" type="submit"><i class="bi bi-search fz-14"></i></button>
              </div>
            </form>
          </div>

          <!-- Single Search Result -->
            {% for product in products %}
              <div class="single-search-result mb-3 border-bottom pb-3">
                <h6 class="text-truncate mb-1">{{ product.name }}</h6>
                <a class="text-truncate mb-2 d-block fz-12 text-decoration-underline" href="#">{{ product.barcode }}</a>
                <a class="btn {% if product.verified %} btn-success {% else %} btn-danger {% endif %} rounded-pill btn-sm disabled" href="#">
                  {% if product.verified %} verified {% else %} not verified {% endif %}
                </a>
                <p class="mb-0">{{ product.description }}</p>
              </div>
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}



